<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>專題作業-電影網站</title>
  <link rel="stylesheet" type="text/css" href="style.css" />

  <link rel="stylesheet" href="muen.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- 引入Element UI介面庫-->
  <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src=//unpkg.com/vue@3/dist/vue.global.prod.js></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>




</head>

<body id="app">
  <!-- 設定id給vue框架使用 -->
  <div class="all">
    <header id="header1">


      <form onsubmit="event.preventDefault();" role="search">
        <label for="search">
          <img src="img/2logo.png" />
          <!--<input id="search" type="search" placeholder="Search..." autofocus required />-->
          <!--Element ui-->

          <el-select v-model="value" filterable remote reserve-value placeholder="Please enter a value"
            remote-show-suffix :remote-method="remoteMethod" :loading="loading">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>

          <el-button type="primary" @click="searchresult">go</el-button>
          <!--showResult = true-->
          <el-dialog v-model="showResult" title="結果" width="30%" :before-close="handleClose">
            <!--跳轉電影頁面-->
            <!--<button @click="gomoviedata">{{value}}</button>-->

            <a :href="'searchmoviedata.html?moviename=' + encodeURIComponent(value)">{{value}}</a>
            <!--跳轉電影頁面-->
            <template #footer>
              <span class="dialog-footer">
                <el-button type="primary" @click="showResult = false">
                  關閉
                </el-button>
              </span>
            </template>
          </el-dialog>

          <!--Element ui-->

        </label>
        <div v-if="islogin=='true'">Hello {{username}}</div>
        <div v-else><img src="img/user.png" />訪客模式</div>
      </form>


      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>

          <li><a href="watching_movie.html">
              <div v-if="islogin=='true'" class="warning">看過清單</div>
            </a></li>
          <li><a href="rating_movie.html">
              <div v-if="islogin=='true'" class="warning">評分清單</div>
            </a></li>
          <!--vue 傳參數-->
          </a></li>
          <li><a href="login.html">
              <div v-if=" islogin != 'true'" class="warning">登入</div>
            </a></li>
          <li><a href="login.html">
              <div v-if="islogin=='true'" class="warning" @click="remotedata">登出</div>
            </a>
          </li>

        </ul>
      </div>
  </div>
  </header>

  
  <div id="content">
    <nav>
      <button @click="cleanhistory">clear all</button>
    <div>近期瀏覽</div>

    <div id="nav1" v-for="item in historyrecorddata" :key="item.id">
      <img :src="item.imageUrl" width="210" height="300">
    </div>
  </nav>
    <article id="article1">
      <section>
        <div class="container">
          <!--vue使用-->
          <div class="card" v-for="item in movieimg" :key="item.id">
            <div class="content">
              <div class="imgBx">
                <a :href="'moviedata.html?id=' + item.id"><img :src="item.image_url"></a>

              </div>
              <div class="contentBx">
                <h3>{{ item.movie_name }}<br><span></span></h3>
              </div>
            </div>
            <ul class="sci">
              <li>

              </li>
            </ul>
          </div>



          <!--vue結束-->

      </section>

      </p>
    </article>

    <aside id="aside1"><img src="img/ch.png">網站排行榜
      <!--vue使用-->
      <ul v-for="item in websiterating" :key="item.id" style="list-style-image:url('img/medal.png');">
        <li><a :href="'moviedata.html?id=' + item.movieId"><img :src="item.imageUrl" alt=" " width="130"
              height="100"></a>
          <div>{{item.userRatingMovieName}} {{item.userRatingMovieStars}}<img src="\img\star.png"></div>

      </ul>
      <!--vue結束-->

    </aside>


    <footer id="footer1">

    </footer>

</body>



<script lang="javascript">
  //初始化 vue
  const { createApp } = Vue

  createApp({
    data() {
      return {
        islogin: true,
        username: "",
        movieimg: [],
        websiterating: [],
        value: '',
        options: [],
        loading: false,
        showResult: false,
        historyrecord: '', //歷史紀錄儲存
        historyrecords: [], //歷史紀錄儲存轉成陣列
        historyrecorddata: [] //API回傳的電影詳細資料
      }
    },
    // 當網頁載入完成後會被Vue框架呼叫
    mounted() {
      //從local storage 拿出資料
      this.username = localStorage.getItem('username');
      this.islogin = localStorage.getItem('islogin');
      axios.get("/movieimg")
        .then((response) => {
          // get完成後收到的資料可以在這裡處理
          console.log(response);
          // 將api的電影圖片存到Vue建立的movieimg變數
          this.movieimg = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
      axios.get("/websiterating")
        .then((response) => {
          console.log(response);
          //把資料庫評分最高的電影丟給前端
          this.websiterating = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
      // 歷史紀錄


      if (localStorage.getItem("historyrecord") === null) {
        localStorage.setItem('historyrecord', this.historyrecord);
      }//localstorage 是否有historyrecord
      this.historyrecord = localStorage.getItem('historyrecord');
      console.log(this.historyrecord);

      this.historyrecords = this.historyrecord.split(',');
      //用,分割成陣列
      console.log(this.historyrecords);
      this.historyrecords.pop();//刪除最後一個陣列因為,後面是空的
      console.log(this.historyrecords);

      //把陣列裡的歷史紀錄丟給後端
      for (let p in this.historyrecords) {
        axios.get("/searchmoviedata?moviename=" + this.historyrecords[p])
          .then((response) => {
            console.log(response);
            //this.historyrecorddata = response.data.data;
            this.historyrecorddata.push(response.data.data[0]);

          })
          .catch((error) => {
            console.log(error);
          });


      }



    },
    //網頁要用的方法寫在這裡
    methods: {
      //搜尋
      remoteMethod(query) {
        console.log('call remoteMoethod:' + query);
        if (query) {
          axios.get("/moviealldata/searchmovie?keyword=" + query)
            .then((response) => {
              this.options = [];
              console.log(response.data);
              if (response.data.code == 0) {
                for (let v of response.data.data) {
                  this.options.push({
                    value: v,
                    label: v,

                  });
                }
                console.log(this.options);

              }
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          this.option = [];
        }
      },
      //登出清除資料
      remotedata() {
        localStorage.removeItem("username");
        localStorage.removeItem("islogin");
        localStorage.removeItem("historyrecord");
      },
      cleanhistory() {
        localStorage.setItem("historyrecord", '');
        this.historyrecorddata = [];
        //把api的資料也清除掉，畫面就可以隨時更新

      },
      searchresult(value) {
        this.showResult = true;
        console.log(this.value);
      }

    }
  }).use(ElementPlus).mount('#app')

</script>

</html>