<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專題作業-電影網站</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="table.scss">
    <link rel="stylesheet" href="muen.css">
    <script src="jquery-1.11.3.js"></script>
    <script src="index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



</head>
<body id="app">
    <!-- 設定id給vue框架使用 -->
<div class="all">
    <header id="header1">
        
        
        <form onsubmit="event.preventDefault();" role="search">
            <label for="search"><img src="img/2logo.png" /> Movies</label>
            <input id="search" type="search" placeholder="Search..." autofocus required />
            <button type="submit">Go</button>
        </form>
        

        <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
    <ul>

<li><a href="'watching_movie.html?username=' + username + '&islogin=' + islogin">
    <div v-if="islogin=='true'" class="warning">看過清單</div>
</a></li>
<li><a href="'rating_movie.html?username=' + username + '&islogin=' + islogin">
    <div v-if="islogin=='true'" class="warning">評分清單</div>
</a></li>
<li><a href="#">
    <div v-if="islogin=='true'" class="warning">尋找影片</div>
</a></li>
<!--vue 傳參數-->
<li><a :href="'moviedata.html?username=' + username + '&islogin=' + islogin">
    <div v-if="islogin=='true'" class="warning">電影頁面</div>
</a></li>
<li><a href="login.html">
    <div v-if=" islogin != 'true'" class="warning">登入</div>
</a></li>
<li><a href="login.html">
    <div v-if="islogin=='true'" class="warning">登出</div>
</a></li>
</ul>
</div>
</div>
    </header>
    <div id="content">
        <nav id="nav1">近期上映推薦
            <img src="img/barbi.jpg" width="210" height="300">  
            
            
        </nav>
        <article id="article1">
    <section>
		<div class="container">
          <!--vue使用-->
			<div class="card" v-for="item in movieimg">
                <!-- v-for : for迴圈 把每一個電影圖片拿出來-->
				<div class="content">
					<div class="imgBx">
						<img :src="image_url">
					</div>
					<div class="contentBx">
						<h3>{{movieimg.movie_name}}<br><span></span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href="">Ｗatch movie</a>
					</li>
				</ul>
                <div>{{movieimg.movie_name}}</div>
			</div>

           
          <!--vue結束-->
			
	</section>
    
    
    </p>
    </article>
    <aside id="aside1"><img src="img/ch.png">本周排行榜
    
		<ul style="list-style-image:url('img/medal.png');">
			<li><img src="img/hali.jpg" alt=" " width="130" height="100">
			<li><img src="img/xman.jpg" alt=" "width="130" height="100">
			<li><img src="img/ci.jpg" alt=" "width="130" height="100">
		</ul>   	
    
    </aside>
    </div>
    <footer id="footer1">

    </footer>
</div>
    </body>



 <script lang="javascript">
//初始化 vue
const { createApp } = Vue

createApp({
  data() {
    return {
      islogin : true,
      username : "",
      movieimg : [] 
    }
  },
  mounted() {
    axios.get("/movieimg") 
      .then(   (response) =>  {
        
        // get完成後收到的資料可以在這裡處理
        console.log(response);

        // 將api的商品資料存到Vue建立的products變數
        this.movieimg = response.data.data;
      })
      .catch( (error) => {
      console.log(error);
      });
    
    
    
       
    
    
       
    
    
       const queryString = window.location.search
       console.log(queryString);
       console.log('Hello Javascript');

       //建立參數解析物件
       const urlParams = new URLSearchParams(queryString);
       this.username = urlParams.get('username');
       this.islogin = urlParams.get('islogin');
       console.log(username);
       console.log("islogin=" + this.islogin);
       //取得username，islogin變數 
       

       

    
   }

}).mount('#app') 



    
    
     
   
    
    
    
    
    </script>






    
</html>