<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專題作業-電影網站</title>
    <link rel="stylesheet" type="text/css" href="moviedata.css"/>
    <link rel="stylesheet" href="table.scss">
    <link rel="stylesheet" href="muen.css">
    <script src="jquery-1.11.3.js"></script>
    <script src="index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- 引入Vue.js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body id ="app">
     <!-- 設定id給vue框架使用 -->
<div class="all">
    <header id="header1">
        
        
        <form onsubmit="event.preventDefault();" role="search">
            <label for="search"><img src="img/2logo.png" />Movies</label>
            <input id="search" type="search" placeholder="Search..." autofocus required />
            <button type="submit">Go</button>
        </form>
        

        <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
    <ul>

<li><a href="watching_movie.html">已看過清單</a></li>
<li><a href="rating_movie.html">已評分過清單</a></li>
<li><a href="#">尋找影片</a></li>
<li><a href="index.html">回首頁</a></li>
<li><a href="login.html">登入</a></li>
</ul>
</div>
</div>
    </header>
    <!--vue使用-->
    <div id="moviedata" v-for="item in moviedata" :key="item.id">
    <div id="content">
    
    <div id="div3">
        <img :src="item.imageUrl">
    </div>
    <div id="div1">
        <div id="divrating">
            <div id="logorating"><img src="img/star.png" />網站評分</div>
            <div id="rating">評分9/10</div>
        </div>
        <div id="div2rating">
            <div id="logorating"><img src="img/good.png" />你的評分</div>
            <div id="rating">評分9/10</div>
        </div>
    </div>
    </div> 
    <div id ="moviename">
        <div id ="name" >{{item.movieName}} </div>  {{item.age}} 丶 {{item.year}}
    </div>
    <div id="div4">
        類型:
        <div v-if="item.movieCategoryDrama == 1">Drama &#20;</div>
        <div v-if="item.movieCategoryAction == 1">Action &#20;</div>
        <div v-if="item.movieCategoryRomance == 1">Romance &#20;</div>
        <div v-if="item.movieCategoryComedy == 1">Comedy</div>

    </div>
    <div id="div5">
        <div id="description">{{item.movieDescription}}</div>
        <div id="director">導演：{{item.movieDirector}}</div>
        <div id="cast">巨星：{{item.movieCast}}</div>
    </div>
</div>
<!--vue結束-->
    <footer id="footer1">
        <div id="user_name">hello,{{username}}</div>
        <div id="user_comment">顯示評論</div>
    </footer>
</div>

<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
</body>
<script lang="javascript">
    //初始化 vue
    const { createApp } = Vue
    
    createApp({
    data() {
        return {
        islogin : true,
        username : "",
        id : "",
        moviedata :[],
        //moviename:""
        
        }
    },
    mounted() {
        const queryString = window.location.search
        console.log(queryString);
        console.log('Hello Javascript');
    
           //建立參數解析物件
        const urlParams = new URLSearchParams(queryString);
           this.username = urlParams.get('username');
           this.islogin = urlParams.get('islogin');
           this.id = urlParams.get('id');
           //this.moviename = urlParams.get('moviename');
           console.log(this.username);
           console.log("islogin=" + this.islogin);
           console.log(this.id);
           //console.log(this.moviename)
           //取得username，islogin變數
            
          

        axios.get("/moviedata?id=" + this.id + "&username=" + this.username + "&islogin=" + this.islogin)
        .then(   (response) =>  {
            // get完成後收到的資料可以在這裡處理
            console.log(response);
            if(response.data.code==0){
                this.moviedata = response.data.data;
                this.movieimg = data.filter(item => 
                item.movieCategoryRomance === 1 ||
                item.movieCategoryComedy === 1 ||
                item.movieCategoryDrama === 1 ||
        item.movieCategoryAction === 1
                );
                
            }
        })
        .catch( (error) => {
        console.log(error);
        });
        
        
                
    
        
    }
    
    }).mount('#app')
    
    
    
        
        
         
       
        
        
        
        
        </script>
</html> 
