

body {
    background: #1b1b1b; /* 背景顏色為黑色 */
    color: #fff; /* 文字顏色為白色 */
    font-size: 15pt; /* 字體大小為15pt */
    margin-top: 20px; /* 上邊距為20px */
}

#all {
    width: 90%; /* 寬度為總寬度的90% */
	margin-left: auto; /* 自動左對齊 */
	margin-right: auto; /* 自動右對齊 */
    padding: 10px; /* 內邊距為10px */
	background-color: #1b1b1b; /* 背景顏色為黑色 */
	border: 1px solid #6F6F6F; /* 邊框線寬度為1px，顏色為#6F6F6F */
	border-radius: 10px; /* 邊框圓角為10px */
	box-shadow: 0px 0px 10px #000000; /* 添加陰影效果 */
}

#header1 {
    display: block;/* 塊級元素*/
    margin: 30px; /* 外邊距為30px */
    padding: 5px; /* 內邊距為5px */
    min-height: 100px; /* 最小高度為100px */
    background: #1b1b1b; /* 背景顏色為黑色 */
    font-size: 75px; /* 字體大小為60px */
	font-family:fantasy;
    
    /* justify-content: center; 水平居中對齊內容 */
    /* align-items: center; /* 垂直居中對齊內容 */
    /* text-align: center; 文本居中對齊 */ 
}

#content {
    min-height: 150px; /* 最小高度為150px */
    margin: 0px; /* 外邊距為0px */
    padding: 0px; /* 內邊距為0px */
    display: flex; /* 使用彈性盒模型進行排列 */
    flex-direction:row; /* 水平排列子元素 */
}

#content nav {
    margin: 10px; /* 外邊距為10px */
    padding: 5px; /* 內邊距為5px */
	line-height: 35px; /* 文字間距 */
    border: 0px solid #ffffff; /* 邊框線寬度為0px，顏色為#ffffff */
    border-radius: 10px; /* 邊框圓角為10px */
    background: #1b1b1b; /* 背景顏色為黑色 */
    flex-basis: 20%; /* 彈性基準值為20% */
    order: 1; /* 彈性順序為1 */
}


#content article {
    margin: 10px; /* 外邊距為10px */
    padding: 5px; /* 內邊距為5px */
    border: 0px solid #ffffff; /* 邊框線寬度為1px，顏色為#ffffff */
    border-radius: 10px; /* 邊框圓角為10px */
    background: #2b2b2b; /* 背景顏色為黑色 */
    flex-basis: 60%; /* 彈性基準值為60% */
    order: 2; /* 彈性順序為2 */
}

#content aside {
    margin: 10px; /* 外邊距為10px */
    padding: 5px; /* 內邊距為5px */
    /* border: 1px solid #ffffff; 邊框線寬度為1px，顏色為#ffffff */
    border-radius: 10px; /* 邊框圓角為10px */
    background: #1b1b1b; /* 背景顏色為黑色 */
    flex-basis: 20%; /* 彈性基準值為20% */
    order: 3; /* 彈性順序為3 */
}

#footer1 {
    display: block; /* 塊級元素 */
    margin: 10px; /* 外邊距為10px */
    padding: 5px; /* 內邊距為5px */
    border: 0px solid #ffffff; /* 邊框線寬度為0px，顏色為#ffffff */
    min-height: 50px; /* 最小高度為50px */
    border-radius: 10px; /* 邊框圓角為10px */
    background: #1b1b1b; /* 背景顏色為黑色 */
}

#btn1{
    background-color: #f44336; /* 按鈕背景顏色為#f44336 */
    color: #ffffff; /* 按鈕文字顏色為白色 */
    border: none; /* 移除邊框 */
    padding: 10px 20px; /* 內邊距為10px 20px */
    text-align: center; /* 文本居中對齊 */
    text-decoration: none; /* 移除文字裝飾 */
    display: inline-block; /* 行內元素 */
    font-size: 16px; /* 字體大小為16px */
    margin: 4px 2px; /* 外邊距為4px 2px */
    cursor: pointer; /* 鼠標懸停時顯示手型游標 */
    border-radius: 4px; /* 邊框圓角為4px */
}
.container {
	position: relative; /* 設定相對定位，以便使用z-index屬性 */
	z-index: 1; /* 設定較高的z-index值，使容器位於其他元素之上 */
	display: flex; /* 使用彈性盒模型進行排列 */
	justify-content: center; /* 水平居中對齊子元素 */
	align-items: center; /* 垂直居中對齊子元素 */
	flex-wrap: wrap; /* 當子元素超出容器時換行 */
	margin: 40px 0; /* 上下邊距為40px，左右邊距為0 */
}

.container .card {
	position: relative; /* 設定相對定位，以便與容器內的元素進行定位 */
	width: 300px; /* 設定卡片寬度為200px */
	height: 300px; /* 設定卡片高度為200px */
	background: rgba(255, 255, 255, 0); /* 設定卡片背景顏色為帶有透明度的白色 */
	margin: 10px; /* 設定卡片之間的間距為10px */
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0); /* 添加卡片的陰影效果 */
	border-radius: 15px; /* 設定卡片的邊框圓角為15px */
	display: flex; /* 使用彈性盒模型進行排列 */
	justify-content: center; /* 水平居中對齊子元素 */
	align-items: center; /* 垂直居中對齊子元素 */
	backdrop-filter: blur(10px); /* 添加背景模糊效果，使用10px的模糊程度 */
}


.container .card .content {
	position: relative; /* 設定相對定位，以便進行定位 */
	display: flex; /* 使用彈性盒模型進行排列 */
	justify-content: center; /* 水平居中對齊子元素 */
	align-items: center; /* 垂直居中對齊子元素 */
	flex-direction: column; /* 垂直排列子元素 */
	transition: 0.5s; /* 添加過渡效果，持續時間為0.5秒 */
}
/*
.container .card:hover .content {
	transform: translateY(-3000px);  鼠標懸停時向上移動10px */


.container .card .content .imgBx {
	position: relative; /* 設定相對定位，以便進行定位 */
	width: 250px; /* 設定圖片容器寬度為150px */
	height: 250px; /* 設定圖片容器高度為150px */
	overflow: hidden; /* 隱藏超出容器範圍的內容 */
}

.container .card .content .imgBx img {
	position: absolute; /* 設定絕對定位，以便進行定位 */
	top: 0; /* 將圖片定位於容器頂部 */
	left: 0; /* 將圖片定位於容器左側 */
	width: 100%; /* 設定圖片寬度為100% */
	height: 100%; /* 設定圖片高度為100% */
	object-fit: cover; /* 將圖片等比例填充容器，保持圖片比例不變 */
}


.container .card .content .contentBx h3 {
	color: #fff; /* 文字顏色為白色 */
	text-transform: uppercase; /* 文字轉換為大寫 */
	letter-spacing: 2px; /* 字母間距為2px */
	font-weight: 500; /* 字體粗細為500 */
	font-size: 18px; /* 字體大小為18px */
	text-align: center; /* 文字居中對齊 */
	margin: 20px 0 10px; /* 上、下、左、右邊距分別為20px、0、10px */
	line-height: 1.1em; /* 行高為1.1倍字體大小 */
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.container .card .content .contentBx h3 span {
	font-size: 12px; /* 字體大小為12px */
	font-weight: 300; /* 字體粗細為300 */
	text-transform: initial; /* 文字轉換為初始值 */
}

.container .card .sci {
	position: absolute; /* 設定絕對定位，以便進行定位 */
	bottom: 50px; /* 與父元素底部距離為50px */
	display: flex; /* 使用彈性盒模型進行排列 */
}

.container .card .sci li {
	list-style: none; /* 移除列表樣式 */
	margin: 0px 10px; /* 左、右邊距分別為0、10px */
	transform: translateY(30px); /* 在Y軸方向上向下平移40px */
	transform: translateX(-30px); /* 在Y軸方向上向下平移40px */
	transition: 0.5s; /* 添加過渡效果，持續時間為0.5秒 */
	opacity: 0; /* 初始時設定透明度為0 */
}

.container .card:hover .sci li {
	transform: translateY(0px); /* 鼠標懸停時取消平移效果 */
	opacity: 1; /* 鼠標懸停時顯示元素 */
}

.container .card .sci li a {
	color: #fff; /* 鏈接文字顏色為白色 */
	font-size: 30px; /* 字體大小為20px */
}
